.request {
  background-image: url(../res/request-bg-min.jpg);
  background-size: cover;
  padding: 1rem 2rem;
}

.request-img {
  display: none;
}

.request-txt P {
  color: #ffffff;
}

.req-btn {
  padding: 0.5rem 1rem !important;
  width: 50%;
  border-radius: 5rem;
  background: #1260de;
  color: #ffffff;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* Screen 1280px */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

@media (min-width: 1280px) {
  .request {
    padding: 10rem 4rem;
  }
  .request-img {
    display: block;
    width: 45%;
    margin: 0 auto;
  }
  .request-txt {
    background-color: #141d32;
    padding: 2.5rem 4rem;
    width: 40%;
    position: relative;
    margin: -19rem 0 0 60rem;
    z-index: 100;
  }

  .req-btn {
    width: 10rem;
  }

  .request-content {
    margin: 0 5rem 0 -13rem;
  }
}
