.request {
    background-image: url(../res/request-bg-min.jpg);
    background-size: cover;
    padding: 1rem 2rem;
}

.request-img {
    display: none;
}

.request-txt P {
    color: #ffffff;
}

.req-btn {
    padding: 0.5rem 1rem !important;
    width: 50%;
    border-radius: 5rem;
    background: #1260de;
    /* background: linear-gradient(90deg, rgba(223,182,34,1) 45%, rgba(2,114,232,1) 100%); */
    color: #ffffff;
    
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* Screen 1280px */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

@media (min-width: 1280px) {
    .request {
        padding: 10rem 4rem;
    }
    .request-img {
        display: block;
        width: 60%;
        margin: 0 auto;
    }
    .request-txt {
        background-color: #141D32;
        padding: 2rem 4rem;
        width: 60%;
        position: relative;
        margin: -18rem 0 0 40rem ;
        z-index: 100;
        
    }
    .req-btn {
        width: 10rem;
    }

    .request-content {
        margin: 0 5rem 0 -13rem ;
  
    }
}