.nav-active {
    color: #FDBE00;
    border-bottom: #FDBE00 2px solid;
    padding: 0 0 1rem 0 !important;
}

.bold {
    font-weight: bold !important;
}

.color-yellow {
    color: #FDBE00 !important;
}

.color-blue {
    color: #0476f1 !important;
}
.color-blue2 {
    color: #023a75 !important;
}

.blue-ul {
    
    border-bottom: #023a75 2px solid !important;

}
.blue2-ul {
    
    border-bottom: #0476f1 2px solid !important;

}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.width20 {
    width: 20%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* Screen 1280px */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
@media (min-width: 1280px) {
    .nav-active {
        padding: 1rem 0 4rem 0 !important;
    }

}